.read--more_btn {
  background-color: transparent;
  border: unset;
  font-family: inherit;
  display: flex;
  align-items: center;
  font-size: 16px;
  span {
    margin-right: 8px;
    transition: $transitionDuration;
    text-decoration: underline;
    &:hover {
      margin-right: 4px;
      transition: $transitionDuration;
    }
  }
  img {
    width: 25px;
    height: auto;
  }
}

.btn {
  border: unset;
  font-family: inherit;
  font-size: 16px;
  padding: 8px 16px;
  background-color: $primaryColor;
  color: #fff;
  height: 66px;
  cursor: pointer;
  transition: $transitionDuration;
  &:hover {
    background-color: $secondaryColor;
    transition: $transitionDuration;
  }
  &:disabled{
    background-color: $grey-03;
    cursor: not-allowed;
  }
}

.link-btn {
  padding: 8px 16px;
  background-color: $grey-01;
  color: #fff;
  transition: $transitionDuration;
  &:hover {
    background-color: $primaryColor;
    transition: $transitionDuration;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-button span::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1s linear infinite;
  
}

.normal-button span {
  display: inline-block;
}
