$fontFamily: "Sora", sans-serif;
$bodyFontFamily: "Open Sans", sans-serif;
$h1FontSize: clamp(2rem, 4vw, 3rem);
$h2FontSize: clamp(1.75rem, 3vw, 2.5rem);
$h3FontSize: clamp(1.5rem, 4vw, 2rem);
$h4FontSize: clamp(1.3rem, 2vw, 1.5rem);
$h5FontSize: 1.125em;
$bodyFontSize: 1.125em;
$M-bodyFontSize: 1em;
$S-bodyFontSize: 14px;
$primaryColor: rgb(100, 188, 38);
$secondaryColor: #016a70;
$accentColor: rgba(126, 0, 196, 1);
$backgroundColor: rgba(250, 240, 255, 1);
$strokeColor: #c4c4c4;
$bodyTextColor: #333;
$headingTextColor: #00030a;
$placeholderTextColor: #666666;
$inputFieldBackground: #f6f6f6;
$grey-01: #333;
$grey-02: #777777;
$grey-03: #999999;
$transitionDuration: 0.3s;
