.skeleton {
  max-width: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  .line {
    height: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: linear-gradient(
      to right,
      rgba(130, 130, 130, 0.2) 8%,
      rgba(130, 130, 130, 0.3) 18%,
      rgba(130, 130, 130, 0.2) 33%
    );
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
  }
  .img-demo {
    height: 220px;
  }
}

.skeleton-left {
  width: calc(25% - 24px);
  flex: 1;
  padding-right: 15px;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media (max-width: 1024px) {
  .skeleton {
    .skeleton-left {
      flex: unset;
      width: calc(50% - 24px);
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 600px) {
  .skeleton {
    .skeleton-left {
      flex: unset;
      width: calc(100% - 0px);
      margin-bottom: 24px;
    }
  }
}
